{{#if isShowYoyoMenu}}
<li>
  {{#link-to 'userActivity.yoyo-comment'}}
  {{i18n 'yoyo_comment.title'}}
  {{/link-to}}
</li>
<li>
  {{#link-to 'userActivity.yoyo-content'}}
  {{i18n 'yoyo_content.title'}}
  {{/link-to}}
</li>
{{/if}}
